.navbar a:hover{
    background-color: #ECF39E;
    color: #31572C;
  }
  .active{
    background-color: #ECF39E !important;
    color: #31572C !important;
  }

  .footer{
    background-image: url('https://ibb.co/M74jfdP');
  }